@font-face {
  font-family: 'saficons';
  src:  url('fonts/saficons.eot?ka3s3h');
  src:  url('fonts/saficons.eot?ka3s3h#iefix') format('embedded-opentype'),
    url('fonts/saficons.ttf?ka3s3h') format('truetype'),
    url('fonts/saficons.woff?ka3s3h') format('woff'),
    url('fonts/saficons.svg?ka3s3h#saficons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'saficons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-applepodcasts:before {
  content: "\e90a";
}
.icon-android:before {
  content: "\e617";
}
.icon-mail:before {
  content: "\e600";
}
.icon-feedly:before {
  content: "\e901";
}
.icon-pocketcasts:before {
  content: "\e903";
}
.icon-anchor:before {
  content: "\e904";
}
.icon-snapchat:before {
  content: "\e905";
}
.icon-overcast:before {
  content: "\e906";
}
.icon-blab:before {
  content: "\e907";
}
.icon-periscope:before {
  content: "\e908";
}
.icon-googleplaymusic:before {
  content: "\e900";
}
.icon-clammr:before {
  content: "\e61e";
}
.icon-speakpipe:before {
  content: "\e61a";
}
.icon-facebook:before {
  content: "\2c";
}
.icon-blubrry:before {
  content: "\e601";
}
.icon-spreaker:before {
  content: "\e602";
}
.icon-goodreads:before {
  content: "\e603";
}
.icon-blip:before {
  content: "\e604";
}
.icon-iheartradio:before {
  content: "\e605";
}
.icon-soundcloud:before {
  content: "\e606";
}
.icon-podcastrss:before {
  content: "\e607";
}
.icon-miro:before {
  content: "\e608";
}
.icon-etsy:before {
  content: "\e609";
}
.icon-appleappstore:before {
  content: "\e60a";
}
.icon-apple:before {
  content: "\e60b";
}
.icon-stitcher:before {
  content: "\e60c";
}
.icon-tunein:before {
  content: "\e60d";
}
.icon-slack:before {
  content: "\e909";
}
.icon-slideshare:before {
  content: "\e622";
}
.icon-spotify:before {
  content: "\e623";
}
.icon-vine:before {
  content: "\e60f";
}
.icon-instagram:before {
  content: "\e611";
}
.icon-stumbleupon:before {
  content: "\e612";
}
.icon-pinterest-p:before {
  content: "\e613";
}
.icon-menu:before {
  content: "\e610";
}
.icon-feed:before {
  content: "\e615";
}
.icon-reddit:before {
  content: "\e902";
}
.icon-google-plus:before {
  content: "\e934";
}
.icon-windows8:before {
  content: "\e621";
}
.icon-vimeo:before {
  content: "\e616";
}
.icon-github:before {
  content: "\e618";
}
.icon-dribbble:before {
  content: "\e619";
}
.icon-flickr:before {
  content: "\e61b";
}
.icon-tumblr:before {
  content: "\e61c";
}
.icon-linkedin:before {
  content: "\e61d";
}
.icon-twitter:before {
  content: "\e61f";
}
.icon-youtube:before {
  content: "\e620";
}
