@charset "UTF-8";
.saf-container.saf-alignnone {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
.saf-container.saf-alignleft {
  text-align: left; }
.saf-container.saf-aligncenter {
  text-align: center; }
.saf-container.saf-alignright {
  text-align: right; }
.saf-container .saf-links {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: auto; }
.saf-container .saf-item {
  list-style: none;
  float: left;
  margin: 3px !important;
  border: none !important;
  overflow: hidden;
  background: none !important;
  padding: 0 !important;
  clear: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
.saf-container a, .saf-container a:visited {
  display: block;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  padding: 0px;
  font-weight: normal;
  font-size: 11px;
  text-align: center;
  text-transform: none;
  line-height: 1.1em;
  letter-spacing: 0;
  margin: 0;
  text-decoration: none !important;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .saf-container a:hover, .saf-container a:visited:hover {
    text-decoration: none !important;
    border: none; }
  .saf-container a:before,
  .saf-container a span, .saf-container a:visited:before,
  .saf-container a:visited span {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    font-family: 'saficons';
    line-height: 1em;
    font-weight: normal;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px; }
.saf-container .saf-feature {
  overflow: hidden; }
  .saf-container .saf-feature a {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    width: auto;
    overflow: visible;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .saf-container .saf-feature a:hover {
      text-decoration: none;
      -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }
    .saf-container .saf-feature a:before {
      position: absolute;
      top: 50%;
      font-weight: normal; }

#saf-urls .saf-item::before,
.saf-icon {
  font-family: 'saficons';
  font-size: 24px;
  margin-right: 8px;
  font-weight: normal; }

#saf-urls .saf-itunes:before,
.saf-itunes a::before {
  content: ""; }

#saf-urls .saf-stitcher:before,
.saf-stitcher a::before {
  content: ""; }

#saf-urls .saf-miro:before,
.saf-miro a::before {
  content: ""; }

#saf-urls .saf-rss:before,
.saf-rss a::before {
  content: ""; }

#saf-urls .saf-podcastrss:before,
.saf-podcastrss a::before {
  content: ""; }

#saf-urls .saf-soundcloud:before,
.saf-soundcloud a::before {
  content: ""; }

#saf-urls .saf-tunein:before,
.saf-tunein a::before {
  content: ""; }

#saf-urls .saf-iheartradio:before,
.saf-iheartradio a::before {
  content: ""; }

#saf-urls .saf-blubrry:before,
.saf-blubrry a::before {
  content: ""; }

#saf-urls .saf-spreaker:before,
.saf-spreaker a::before {
  content: ""; }

#saf-urls .saf-clammr:before,
.saf-clammr a::before {
  content: ""; }

#saf-urls .saf-spotify:before,
.saf-spotify a::before {
  content: ""; }

#saf-urls .saf-pocketcasts:before,
.saf-pocketcasts a::before {
  content: ""; }

#saf-urls .saf-overcast:before,
.saf-overcast a::before {
  content: ""; }

#saf-urls .saf-googleplaymusic:before,
.saf-googleplaymusic a::before {
  content: ""; }

#saf-urls .saf-youtube:before,
.saf-youtube a::before {
  content: ""; }

#saf-urls .saf-blip:before,
.saf-blip a::before {
  content: ""; }

#saf-urls .saf-vine:before,
.saf-vine a::before {
  content: ""; }

#saf-urls .saf-vimeo:before,
.saf-vimeo a::before {
  content: ""; }

#saf-urls .saf-twitter:before,
.saf-twitter a::before {
  content: ""; }

#saf-urls .saf-facebook:before,
.saf-facebook a::before {
  content: ","; }

#saf-urls .saf-googleplus:before,
.saf-googleplus a::before {
  content: ""; }

#saf-urls .saf-linkedin:before,
.saf-linkedin a::before {
  content: ""; }

#saf-urls .saf-tumblr:before,
.saf-tumblr a::before {
  content: ""; }

#saf-urls .saf-pinterest:before,
.saf-pinterest a::before {
  content: ""; }

#saf-urls .saf-stumbleupon:before,
.saf-stumbleupon a::before {
  content: ""; }

#saf-urls .saf-snapchat:before,
.saf-snapchat a::before {
  content: ""; }

#saf-urls .saf-blab:before,
.saf-blab a::before {
  content: ""; }

#saf-urls .saf-periscope:before,
.saf-periscope a::before {
  content: ""; }

#saf-urls .saf-anchor:before,
.saf-anchor a::before {
  content: ""; }

#saf-urls .saf-reddit:before,
.saf-reddit a::before {
  content: ""; }

#saf-urls .saf-flickr:before,
.saf-flickr a::before {
  content: ""; }

#saf-urls .saf-instagram:before,
.saf-instagram a::before {
  content: ""; }

#saf-urls .saf-dribbble:before,
.saf-dribbble a::before {
  content: ""; }

#saf-urls .saf-goodreads:before,
.saf-goodreads a::before {
  content: ""; }

#saf-urls .saf-appleappstore:before,
.saf-appleappstore a::before {
  content: ""; }

#saf-urls .saf-apple:before,
.saf-apple a::before {
  content: ""; }

#saf-urls .saf-android:before,
.saf-android a::before {
  content: ""; }

#saf-urls .saf-windows:before,
.saf-windows a::before {
  content: ""; }

#saf-urls .saf-etsy:before,
.saf-etsy a::before {
  content: ""; }

#saf-urls .saf-github:before,
.saf-github a::before {
  content: ""; }

#saf-urls .saf-speakpipe:before,
.saf-speakpipe a::before {
  content: ""; }

#saf-urls .saf-email:before,
.saf-email a::before {
  content: ""; }

#saf-urls .saf-menu:before,
.saf-menu a::before {
  content: ""; }

#saf-urls .saf-feedly:before,
.saf-feedly a::before {
  content: ""; }

#saf-urls .saf-slack:before,
.saf-slack a::before {
  content: ""; }

#saf-urls .saf-slideshare:before,
.saf-slideshare a::before {
  content: ""; }
